body {
  background: #e3edf7;
}

img {
  width: 72px !important;
  height: auto !important;
  border-radius: 10px !important;
}
.alert {
  margin-bottom: 0% !important;
}

.alert p {
  margin-bottom: 0% !important;
}

button h6 {
  vertical-align: middle !important;
  line-height: normal !important;
}
.skill {
  width: 160px;
  height: 160px;
  margin: auto;
}

.outer {
  height: 160px;
  width: 160;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgb(0, 0, 0, 0.15), -6px -6px 10px -1px rgb(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgb(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgb(255, 255, 255, 0.7), -0.5px -0.5px 0px rgb(255, 255, 255, 1), 0.5px 0.5px 0px rgb(0, 0, 0, 0.15), 0px 12px 10px -10px rgb(0, 0, 0, 0.05);
}

#number {
  font-size: xx-large;
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
}
svg {
  display: inline;
  position: relative;
  bottom: 160px;
}
